@use "variables";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: gainsboro;
  font-family: sans-serif;
}

.video-container {
  width: 100vw;
  height: 100vh;
  position: fixed;
  bottom: 0;
  right: 0;

  video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.video-overlay {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  background-color: rgba(255, 255, 255, 0.404);
}

.container {
  padding: 20px 40px;
  position: relative;
  z-index: 3;
  min-height: 50vh;
  width: 50vw;
  background-color: rgba(255, 255, 255, 0.74);
  border-radius: 10px;
  margin: 25vh auto;
  box-shadow: 0 10px 30px 5px rgba(0, 0, 0, 0.425);

  .countdown-title {
    padding: 10px;
    text-align: center;
    color: rgb(18, 77, 187);
  }

  button {
    display: block;
    width: 100%;
    margin: 20px auto;
    padding: 10px;
    background-color: green;
    border-radius: 20px;
    border: 2px solid lightgrey;
    color: white;
    letter-spacing: 3px;
    font-size: 1.3rem;
    &:hover {
      filter: brightness(120%);
    }
  }

  .form {
    label,
    input,
    button {
      display: block;
      width: 100%;
      margin: 10px auto;
    }
    input {
      font-family: sans-serif;
      padding: 10px 20px;
      border-radius: 20px;
      font-size: 1.2rem;
      outline: none;
      border: 2px solid rgb(0, 145, 185);
    }

    label {
      font-size: 1.3rem;
      padding-left: 10px;
    }
  }
  .countdown {
    .countdown-progress {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 1.5rem;
      letter-spacing: 3px;
      margin: 30px auto 20px;
      width: 100%;
      div {
        text-transform: uppercase;
        span {
          text-align: center;
          display: block;
          font-size: 2.5rem;
          font-weight: bold;
          margin-bottom: 5px;
        }
      }
    }
  }
  .countdown-finished {
    text-align: center;
    h3 {
      margin-top: 20px;
      font-size: 1.5rem;
    }
  }
}

@media screen and (max-width: 600px) {
  .container {
    width: 95vw;
    button {
      margin-top: 50px !important;
    }

    .countdown-progress {
      font-size: 1rem !important;
      letter-spacing: 2px !important;
    }
  }
}
